@media (min-width: 30rem) {
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.125rem;
  }
}

table{
  border-collapse: collapse;
  background-color: hsl(214, 20%, 15%);
  font-size: 0.8rem;
}

td, th {
  border: 1px solid #ddd;
  padding: .5rem;
}

tr:nth-child(even){
  background-color: hsl(214, 20%, 30%);
}

th {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: left;
  background-color: #04AA6D;
  color: white;
  }