table {
  border-collapse: collapse;
  background-color: var(--primary-color);
}

td,
th {
  border: 1px solid #ddd;
  padding: .3rem;
}

tr:nth-child(even) {
  background-color: var(--secondary-color);
}

th {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

@media (min-width: 30rem) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
  }

  td,
  th {
    padding: .5rem;
  }
}

@media (max-width: 30rem) {
  main {
    font-size: .7rem;
  }

  td,
  th {
    padding: .3rem;
  }
}