.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.button {
  font-size: 1.35rem;
  font-weight: 500;
  padding: 0.8rem 0.9rem;
  min-width: 75dvw;
  border: 1px solid var(--accent-color);
  border-radius: 0.5rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
  box-shadow: 0 1px 2px 1px var(--shadow-color);
  align-content: center;
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
  box-shadow:  0 1px 2px 2px var(--glow-color);
}

@media (min-width: 30rem) {
  .button {
    min-width: 21rem;
  }
}