.links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button{
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 2rem;
  padding: 0.4rem 0.8rem;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50rem;
  color: #1f1f1f;
  background-color: rgb(199, 215, 238);
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
  align-content: center;
  text-decoration: none;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
}