.links{
  display: flex;
  justify-content: center;
  align-items: center;
}
.button{
  font-size: 3rem;
  font-weight: bold;
  margin-top: 4rem;
  padding: 1rem 2rem;
  border-radius: 50rem;
  border: 0.5rem solid white;
  color: #1f1f1f;
  background: rgb(247,230,214);
  background: linear-gradient(90deg, rgba(247,230,214,1) 0%, rgba(234,196,175,1) 100%);
  align-content: center;
  text-decoration: none;
  cursor: pointer;
}