@import url(font.css);

*{
  box-sizing: border-box;
  margin: 0;
  color: var(--text-color);
  text-decoration: none;
}

:root{
  --bg-color : #212831;
  --secondary-color: #151b23;
  --Tertiary-colors: #262c36;
  --text-color: #d1d7e0;
  --accent-color: #347d39;
  --shadow-color: rgba(167, 157, 255, 0.4);
  --border-color: rgb(128, 168, 255);
}

html{
  height: 100%;
}

body{
  font-family: Noto Sans, Arial;
  font-size: clamp(0.75rem, 1.5vw, 1.125rem);
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  padding: 5rem 0 4rem 0;
}

.header{
  z-index: 100;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 3rem;
  border-bottom: 1px solid var(--shadow-color);
  background-color: var(--secondary-color);
  padding: 0 1.5rem;
  align-items: center;
}

.header a{
  /*this display flex centers the logo*/
  width: 100%;
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
}

.header img{
  height: 1.125rem;
}

.footer{
  z-index: 100;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  font-size: 0.8rem;
  border-top: 1px solid var(--shadow-color);
  background-color: var(--secondary-color);
  color: white;
  margin-top: auto;
  padding: 0.25rem 0;
  font-weight: 500;
}

/*fade in and up animation*/

.animate{
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}

@keyframes fadeInUp{
  0%{
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
100%{
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}
