@import url(font.css);

* {
  box-sizing: border-box;
  margin: 0;
  color: var(--text-color);
  text-decoration: none;
}

:root {
  --bg-color: hsl(0, 0%, 100%);
  --primary-color: hsl(0, 0%, 98%);
  --secondary-color: hsl(0, 0%, 95%);
  --base-color: hsl(0, 0%, 70%);
  --text-color: hsl(0, 0%, 10%);
  --accent-color: hsl(221, 100%, 75%);
  --shadow-color: rgba(0, 0, 0, 0.1);
  --glow-color: rgba(99, 128, 255, 0.5);
}

.darkmode {
  --bg-color: hsl(0, 0%, 4%);
  --primary-color: hsl(0, 0%, 8%);
  --secondary-color: hsl(0, 0%, 12%);
  --base-color: hsl(0, 0%, 25%);
  --text-color: hsl(0, 0%, 90%);
  --accent-color: hsl(221, 100%, 75%);
  --shadow-color: rgba(0, 0, 0, 0.4);
  --glow-color: rgba(99, 128, 255, 0.5);
}

body {
  font-family: Noto Sans, sans-serif;
  /* font-size: clamp(0.75rem, 1.5vw, 1rem); */
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
}

main{
  padding: 1rem 1.5rem 2rem 1.5rem;
}

.header {
  z-index: 100;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  padding: .625rem 1.5rem;
  align-items: center;
}

#header-icon-cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

#theme-switch{
  height: 2rem;
  width: 2rem;
  background-color: var(--base-color);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#theme-switch svg{
  fill: var(--text-color);
}

#theme-switch svg:last-child{
  display: none;
}

.darkmode #theme-switch svg:last-child{
  display: block;
}

.darkmode #theme-switch svg:first-child{
  display: none;
}

.header a {
  /*this display flex centers the logo*/
  display: flex;
  justify-content: center;
  align-items: center;
}

#potumdb-logo {
  height: 1.5rem;
}

.discord{
  background-color: #5865F2;
  padding: .5rem;
  border-radius: 50%;
}

.scroll-to-top {
  display: none; /* Hidden by default */
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--base-color);
  color: white;
  cursor: pointer;
  padding: 8px 8px 5px 8px;
  border-radius: 0.5rem;
  opacity: .7;
}