main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.skill-class {
  font-size: 1.35rem;
  font-weight: 500;
  min-width: 16rem;
  padding: 0.8rem 0.9rem;
  border: 1px solid var(--accent-color);
  border-radius: 0.5rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
  box-shadow: 0 0 0.25rem 0.125rem rgba(0, 0, 0, 0.25);
  display: flex;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.skill-class:hover {
  transform: scale(1.1);
  box-shadow: 0 0 0.5rem 0.25rem var(--glow-color);
}

.skill-class-icon-container {
  display: flex;
  align-content: center;
  margin-right: 0.6rem;
}

.skill-class-icon-container img {
  height: 2rem;
  padding: 1px;
  border-radius: 50rem;
  background-color: hsl(0, 0%, 10%);
  border: 3px solid hsl(0, 0%, 15%);
  border-radius: 50rem;
}