body{
    padding-bottom: 2rem;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
    max-width: 97vw;
    border-radius: 0.5rem;
    text-align: center;
    background-color: var(--primary-color);
    border: 1px solid var(--base-color);
}

@media (min-width: 700px) {
    .main {
        width: 600px;
    }
}

h1 {
    text-align: center;
    padding-bottom: 1rem;
}

legend {
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    text-decoration: underline;
    color: var(--accent-color);
}

.lvl {
    display: grid;
    grid-template-columns: 100px 100px 140px;
    justify-content: center;
    padding-bottom: 1rem;
}

select,
input {
    font-size: 1rem;
    background-color: var(--secondary-color);
    border: 1px solid var(--base-color);
    border-radius: 0.4rem;
    font-family: inherit;
    text-align: center;
    padding: .33rem;
}

input {
    width: 4rem;
}

input:focus,
select:focus {
    outline: 1px solid var(--accent-color);
}

@media (max-width: 700px) {
    select {
        max-width: 90vw;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#npc-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#npc-group>legend {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

#npc-group>legend>svg {
    fill: var(--accent-color);
}

.col1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.col2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    font-size: 1.1rem;
}

.section>legend>div>svg,
.question-mark {
    cursor: pointer;
    width: 1.1em;
    height: 1.1em;
    margin-left: 3px;
    fill: var(--text-color);
}

#quest-exp,
#quest-times {
    width: 6rem;
    margin-right: 1rem;
}

.hidden {
    display: none;
}

.radio-container {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: .25rem;
}

.radio-input {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 14rem;
    font-size: 14px;
}

.radio-input label {
    flex: 1 1 auto;
    text-align: center;
}

.radio-input label input {
    display: none;
}

.radio-input label .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: var(--text-color);
    transition: all .15s ease-in-out;
}

.radio-input label input:checked+.name {
    background-color: var(--glow-color);
    font-weight: 600;
}

.mq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.checkbox-switch {
    margin-right: .5rem;
    display: flex;
}

.checkbox-switch .checkbox-switch-b {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
}

.checkbox-switch .checkbox-switch-b::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

.checkbox-switch .checkbox-switch-b,
.checkbox-switch .checkbox-switch-b::after {
    transition: all 100ms ease-out;
}

.checkbox-switch .checkbox-switch-b::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
}

.checkbox-switch input[type=checkbox] {
    cursor: default;
}

.checkbox-switch .checkbox-switch-b:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
}

.checkbox-switch .checkbox-switch-b:checked {
    background-color: #6e79d6;
}

.checkbox-switch .checkbox-switch-b:checked::after {
    background-color: #fff;
    left: 13px;
}

.checkbox-switch :focus:not(.focus-visible) {
    outline: 0;
}

.checkbox-switch .checkbox-switch-b:checked:hover {
    background-color: #535db3;
}

.mq-table-grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-column: 2;
    text-align: right;
    padding-bottom: .5rem;
    grid-gap: 0;
}

#mq-stopAt,
#mq-stopAt>strong {
    color: #40ad00;
}

#mq-startFrom,
#mq-startFrom>strong {
    color: #ff2121;
}

#skip-venena-label>span {
    font-weight: bold;
}

#skip-venena-label {
    display: flex;
    align-items: center;
}

#multiple-mq-label>span {
    font-weight: bold;
}

#multiple-mq-label {
    display: flex;
    align-items: center;
}

#mq-table-header {
    font-weight: bold;
    font-size: 0.8rem;
    grid-template-columns: 10% 70% 20%;
    padding: 0;
}

#mq-table-row {
    font-size: .8rem;
    grid-template-columns: 10% 70% 20%;
    padding: 0;
}

#mq-table-header>div,
#mq-table-row>div {
    padding: 0.5em;
    display: flex;
    align-items: center;
    text-align: left;
}

#mq-table-header>div:not(:first-child),
#mq-table-row>div:not(:first-child) {
    border-left: 1px solid var(--accent-color);
}

#mq-table-header:not(:last-child)>div,
#mq-table-row:not(:last-child)>div {
    border-bottom: 1px solid var(--accent-color);
}

#mq-or {
    font-weight: bold;
    display: none;
}